@let(
  tag = cva('tag', {
    variants: {
      color: {
        cyan: 'cyan',
        red: 'red',
        violet: 'violet',
        yellow: 'yellow',
      },
    },
  })
)

<a class="{{ tag({ color: $props.get('color') }) }}">
  {{ $props.get('label') }}
</a>
