@import '../core/functions';

.form_group {
  display: flex;
  flex-direction: column;
  gap: spacePx(1);
}

.form_label {
  color: var(--gray-800);
}

.form_control {
  border: 2px solid var(--gray-800);
  border-radius: var(--rounded);
  background: transparent;
  padding: 0.5rem 1rem;

  &[disabled] {
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--gray-600);
    font-weight: var(--text-bold);
  }
}

.form_error {
  color: var(--red-700);
}

.form_group .form_error {
  color: var(--red-500);
  font-size: var(--text-sm);
  text-transform: uppercase;
}

select.form_control {
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
}

.form_control option {
  color: var(--gray-800);
}

.form_control optgroup {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  text-transform: capitalize;

  &[label],
  &:before {
    color: var(--gray-800);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
  }
}

.form__checkbox {
  color: var(--gray-800);

  input[type='checkbox'] {
    /* TODO: Review this */
    background-color: transparent;
  }
}

textarea {
  resize: vertical;
}
