@import '../core/functions';

.table__wrapper {
  border-radius: var(--rounded);
  border: 2px solid var(--gray-800);
}

.table {
  border-collapse: collapse;
  border-radius: var(--rounded);
  border-spacing: 0;
  border: 0;
  box-shadow: var(--shadow-small);
  overflow: hidden;
  width: 100%;
}

.table thead {
  background-color: var(--white);
  border: 0;
}

.table thead th,
.table tbody td {
  border-collapse: collapse;
  border: 1px solid var(--gray-800);
  font-size: var(--text-base);
  font-weight: normal;
  padding: spacePx(3) spacePx(4);
}
