html, body {
  height: 100dvh;
}

body {
  background-color: var(--yellow-100);
  color: var(--gray-800);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--text-base);
  line-height: 24px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex-grow: 1;
}

h1 {
  font-size: var(--text-h1);
  line-height: 64px;
}

h2 {
  font-size: var(--text-h2);
  line-height: 52px;
}

h3 {
  font-size: var(--text-h3);
  line-height: 44px;
}

h4 {
  font-size: var(--text-h4);
  line-height: 40px;
}

h5 {
  font-size: var(--text-h5);
  line-height: 32px;
}

h6 {
  font-size: var(--text-h6);
  line-height: 22px;
}
