@import '../core/functions';

.max-width-wrapper {
  margin-inline: auto;
  max-width: 1230px;
  padding-inline: spacePx(2);
}

.visually-hidden {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.uppercase {
  text-transform: uppercase;
}

/**
 * Spacing.
 */
@for $i from 0 through 12 {
  .p-#{$i} {
    padding: spacePx($i);
  }

  .pt-#{$i} {
    padding-top: spacePx($i);
  }

  .pb-#{$i} {
    padding-bottom: spacePx($i);
  }

  .px-#{$i} {
    padding-inline: spacePx($i);
  }

  .py-#{$i} {
    padding-block: spacePx($i);
  }

  .my-#{$i} {
    margin-block: spacePx($i);
  }

  .m-#{$i} {
    margin: spacePx($i);
  }

  .mx-#{$i} {
    margin-inline: spacePx($i);
  }

  .mt-#{$i} {
    margin-top: spacePx($i);
  }

  .mb-#{$i} {
    margin-bottom: spacePx($i);
  }

  .mr-#{$i} {
    margin-right: spacePx($i);
  }

  .ml-#{$i} {
    margin-left: spacePx($i);
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--gap, spacePx(1));
}

.centered {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.d-flex.column {
  flex-direction: column;
}

.d-grid {
  display: grid;
}

.d-grid.columns {
  grid-template-columns: repeat(var(--columns, 1), 1fr);
  gap: var(--gap, space(1));
}

.grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.text-center {
  text-align: center;
}

.text--danger {
  color: hsl(var(--red-500));
}

.text--muted {
  color: hsl(var(--gray-300));
}

.text-sm {
  font-size: var(--text-sm);
}

.circle {
  border-radius: 50%;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
