<footer class="footer">
  @maxWidthWrapper()
    <a class="footer__title" href="/">
      <img src="{{ asset('resources/images/logo.svg') }}" alt="">
      <span>Romain Lanz</span>
    </a>
  @end
</footer>
