@maxWidthWrapper()
  <header class="header">
    <a class="header__title" href="/">
      <img src="{{ asset('resources/images/logo.svg') }}" alt="">
      <span>Romain Lanz</span>
    </a>
  </header>
@end
