@import '../core/functions';

.admin_wrapper {
  display: flex;
  gap: spacePx(4);

  & > div:nth-child(2) {
    flex-grow: 1;
  }
}

.admin_sidebar {
  @extend .card;

  align-self: start;
  flex-basis: 300px;
  padding: spacePx(4A);

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-radius: var(--rounded);
      padding-inline: spacePx(3);
      padding-block: spacePx(2);

      a {
        display: block;
      }
    }

    li:hover {
      background-color: var(--yellow-100);
    }
  }
}
