@import '../core/functions';

.page_title {
  color: var(--gray-800);
  font-size: var(--text-h2);
  font-weight: 400;
  line-height: 52px;
  margin-block: 2rem;
}

.section-title {
  color: var(--gray-800);
  font-size: var(--text-h2);
  font-weight: 400;
  line-height: 52px;
}
