@import '../core/functions';

.footer {
  background-color: var(--yellow-200);
  border-top: 2px solid var(--gray-800);
  font-size: var(--text-sm);
  margin-top: spacePx(38);
  padding-block: spacePx(12);
  isolation: isolate;

  ul, li {
    list-style: none;
    padding-left: 0;
  }

  hr {
    background-color: var(--gray-800);
    border: none;
    height: 1px;
    margin-block: spacePx(12);
  }

  &__copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      display: block;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__title {
    align-items: center;
    display: flex;
    gap: spacePx(6);
  }

  &__section {
    h4 {
      display: block;
      font-size: var(--text-utility);
      line-height: 16px;
      margin-bottom: spacePx(3);
      position: relative;
      width: min-content;

      &:before {
        background-color: var(--yellow-500);
        content: '';
        height: 6px;
        bottom: 0;
        margin-left: -2.5%;
        position: absolute;
        width: 105%;
        z-index: -1;
      };
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: spacePx(1);
    }

    ul.partners {
      gap: spacePx(3);
    }


    li {
      font-size: var(--text-sm);
      line-height: 21px;
    }

    .social_network {
      display: flex;
      flex-direction: row;
      gap: spacePx(2);
    }
  }

  #newsletter_registration {
    max-width: 300px;

    p {
      margin-bottom: spacePx(10);
    }

    form {
      display: flex;
      flex-direction: row;
      gap: spacePx(2);
    }
  }
}
