@import '../core/functions';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: spacePx(5);

  & > div {
    align-items: center;
    display: flex;
    gap: spacePx(2);
  }

  &__title {
    align-items: center;
    display: flex;
    gap: spacePx(6);

    span {
      color: var(--gray-800);
      font-size: var(--text-xl);
      font-weight: bold;
    }
  }
}
