@import '../core/functions';
@import '../core/mixins';

@include page('article') {
  article {
    font-size: var(--text-lg);
    line-height: 26px;
    margin-inline: auto;
    margin-top: spacePx(28);
    width: 80ch;

    & > header {
      position: relative;
      margin-bottom: spacePx(20);

      h1 {
        font-size: var(--text-h1);
        line-height: 64px;
      }

      img {
        width: 130px;
        position: absolute;
        left: -162px;
      }

      time {
        display: inline-block;
        font-size: var(--text-lg);
        font-weight: normal;
        position: relative;

        &:before {
          background-color: var(--yellow-500);
          content: '';
          height: 6px;
          bottom: 4px;
          position: absolute;
          width: 100%;
          z-index: -1;
        }
      }
    }

    .reading-time {
      font-size: var(--text-utility);
      text-transform: uppercase;
    }
  }


  article > div > pre {
    @extend .card;

    background-color: var(--yellow-100) !important;
    font-size: var(--text-sm);
    margin-top: spacePx(2);
    margin-bottom: spacePx(4);
    padding: spacePx(4) spacePx(6);
    overflow-y: auto;
  }

  .codegroup {
    margin-bottom: spacePx(4);
  }

  article a {
    cursor: pointer;
    text-decoration: underline;
  }

  article > div > blockquote {
    color: var(--gray-500);
  }

  article > div > p code {
    display: inline-block;
    color: var(--yellow-900);
    border-radius: var(--rounded);
    background-color: var(--yellow-400);
    font-size: var(--text-sm);
    padding: 1px spacePx(1);
  }

  article > div > .alert {
    margin-block: spacePx(4);
  }

  article > div > p {
    margin-block: spacePx(2);
  }

  article > div > h2 {
    font-size: var(--text-h2);
    margin-top: spacePx(15);
    margin-bottom: spacePx(7);
  }
}
