@import '../core/functions';
@import '../core/mixins';

@include page('article') {
  article {
    font-size: var(--text-lg);
    line-height: 26px;
    margin-inline: auto;
    margin-top: spacePx(28);
    width: 80ch;

    & > header {
      position: relative;
      margin-bottom: spacePx(20);

      h1 {
        font-size: var(--text-h1);
        line-height: 64px;
      }

      img {
        width: 130px;
        position: absolute;
        left: -162px;
      }

      time {
        display: inline-block;
        font-size: var(--text-lg);
        font-weight: normal;
        position: relative;

        &:before {
          background-color: var(--yellow-500);
          content: '';
          height: 6px;
          bottom: 4px;
          position: absolute;
          width: 100%;
          z-index: -1;
        }
      }
    }

    .reading-time {
      font-size: var(--text-utility);
      text-transform: uppercase;
    }

    .codegroup {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
    }

    & > * > pre {
      @extend .card;

      background-color: var(--yellow-100) !important;
      font-size: var(--text-sm);
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      padding: 1rem 1.5rem;
      overflow-y: auto;
    }

    & > * > blockquote {
      color: var(--gray-500);
    }

    & > * > p code {
      display: inline-block;
      color: var(--yellow-900);
      border-radius: var(--rounded);
      background-color: var(--yellow-400);
      font-size: var(--text-sm);
      padding: 0 0.25rem;
    }

    & > * > .alert {
      margin-block: 1rem;
    }

    & > * > p {
      margin-block: 1rem;
    }

    & > * > h2 {
      font-size: var(--text-h2);
      margin-top: 3.75rem;
      margin-bottom: 1.75rem;
    }

    & > * > h3 {
      font-size: var(--text-h3);
      margin-top: 2.5rem;
      margin-bottom: 1.25rem;
    }

    & > * > h4 {
      font-size: var(--text-h4);
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
