@import '../core/functions';

.button {
  background-color: transparent;
  border-radius: var(--rounded);
  border: 2px solid var(--gray-800);
  box-shadow: var(--shadow-small);
  cursor: pointer;
  font-size: var(--text-base);
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  transition: background-color 100ms ease-in;

  &:hover {
    background-color: var(--white);
  }

  &.small {
    padding: 0.5rem;
  }

  &.violet {
    background-color: var(--violet-300);

    &:hover {
      background-color: var(--violet-500);
    }
  }

  &.cyan {
    background-color: var(--cyan-300);

    &:hover {
      background-color: var(--cyan-500);
    }
  }

  &.yellow {
    background-color: var(--yellow-300);

    &:hover {
      background-color: var(--yellow-500);
    }
  }
}
