@import '../core/functions';

.hero {
  margin-block: spacePx(38);

  img {
    //? It allows the image to be aligned to the text.
    margin-top: 10px;
  }

  p {
    font-size: var(--text-lg);
    line-height: 26px;
  }

  h1 {
    color: var(--gray-800);
    font-size: var(--text-h1);
    font-weight: normal;
    line-height: 64px;

    span {
      position: relative;
      display: inline-block;

      &:before {
        background-color: var(--red-300);
        content: '';
        height: 95%;
        margin-left: -2.5%;
        position: absolute;
        transform: rotate(-2deg);
        transition: transform 300ms ease-in-out;
        width: 105%;
        will-change: transform;
        z-index: -1;
      }

      &:hover:before {
        transform: rotate(0deg);
      }
    }
  }
}
