<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />

    <title inertia>
      RomainLanz
    </title>

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
  </head>

  <body>
    @inertia()
  </body>
</html>
