<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />

    <title inertia>
      RomainLanz
    </title>

    <meta property="og:type" content="website">

    <link rel="icon" type="image/png" href="{{ asset('resources/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('resources/favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('resources/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('resources/favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="RomainLanz" />

    <script defer data-domain="romainlanz.com" src="https://plausible.romainlanz.com/js/script.outbound-links.js"></script>

    <script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

    <script>
      window.RomainLanz = {
        appUrl: '{{ config('app.appUrl') }}',
      }
    </script>

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
  </head>

  <body>
    @inertia()
  </body>
</html>
