@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(../fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(../fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Italic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(../fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson-Hyperlegible';
  src: url(../fonts/Atkinson-Hyperlegible/AtkinsonHyperlegible-BoldItalic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FiraMono';
  src: url(../fonts/FiraMono/FiraMono-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraMono';
  src: url(../fonts/FiraMono/FiraMono-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FiraMono';
  src: url(../fonts/FiraMono/FiraMono-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
