/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
  color: theme('colors.gray.800')
}

* {
	margin: 0;
}

html,
body {
	height: 100%;
}

body {
	@apply font-sans bg-off-white;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	overflow-wrap: break-word;
}

#app {
	isolation: isolate;
}

a {
	color: inherit;
	text-decoration: none;
}

/*
  Custom CSS Reset
 */

code {
  --at-apply: font-mono;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
