@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-Regular.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-Light.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-Medium.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-Medium.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-RegularItalic.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-RegularItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-MediumItalic.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-MediumItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'MonoLisa';
	src: url('$lib/assets/fonts/MonoLisa-LightItalic.woff2') format('woff2'),
		url('$lib/assets/fonts/MonoLisa-LightItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

:root {
	--font-weight-bold: 600;
	--font-weight-medium: 500;
	--font-weight-regular: 400;
	--font-weight-light: 300;

	--font-family: 'Quicksand', -apple-system, 'Segoe UI', sans-serif;
	--font-family-mono: 'MonoLisa', monospace;

	--container-width: 80ch;
	--border-radius: 7px;

	--space-1: 4px;
	--space-2: 8px;
	--space-3: 16px;
	--space-4: 24px;
	--space-5: 32px;
	--space-6: 48px;
	--space-7: 64px;
	--space-8: 96px;
	--space-9: 128px;

	--bg-color-body: linear-gradient(hsl(210deg, 20%, 98%), hsl(210deg, 20%, 95%));
	--color-white: hsl(0deg, 100%, 100%);
	--color-shaded-black: hsl(210deg, 5%, 20%);
	--color-black: hsl(213deg, 6%, 29%);
	--color-green: hsl(123deg, 52%, 66%);
	--color-blue: hsl(202deg, 92%, 50%);
	--color-red: hsl(4deg, 99%, 66%);
	--color-pink: hsl(336deg, 80%, 60%);
}

* {
	transition: var(--transition);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

#app {
	isolation: isolate;
}

body,
html {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: var(--bg-color-body);
	color: var(--color-black);
	padding-inline: var(--space-5);
	overflow-y: scroll;
}

body.dark {
	--color-black: hsl(0deg, 100%, 100%);
	--bg-color-body: hsl(210deg, 5%, 10%);
}

body,
input,
button,
select,
option {
	font-family: var(--font-family);
	font-weight: var(--font-weight-regular);
}

strong {
	font-weight: var(--font-weight-bold);
}

pre,
code {
	/* We need to use !important since Prism overwrite the font-family */
	font-family: var(--font-family-mono) !important;
	font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-weight-bold);
}

ul,
li {
	margin: 0;
	padding: 0;
}

.generated-content {
	& > * + * {
		/* We do not want any other margin between contents to stay consistant */
		margin-top: var(--space-3) !important;
	}

	h2 {
		border-top: 1px dashed var(--color-shaded-black);
		font-size: 2.5rem;
		margin-top: var(--space-6);
		padding-top: var(--space-6);
	}

	p {
		letter-spacing: 0.02em;
		font-size: 1.2rem;
		font-weight: var(--font-weight-medium);
	}

	img {
		display: block;
		width: 100%;
	}

	p code {
		font-size: 1.1rem;
		color: var(--color-blue);

		&::after,
		&::before {
			content: '\`';
		}
	}

	pre {
		border-radius: var(--border-radius);
	}

	a {
		color: var(--color-pink);
		font-weight: var(--font-weight-bold);
		text-decoration: none;

		&:visited {
			color: var(--color-pink);
		}

		&:hover {
			text-decoration: revert;
		}
	}

	ul {
		list-style: none;
	}

	* + ul {
		margin-top: 0;
	}

	li {
		font-size: 1.2rem;
		font-weight: var(--font-weight-medium);
		margin-left: var(--space-3);

		&::before {
			content: '—';
			margin-right: var(--space-2);
			opacity: 0.5;
		}
	}
}
