# Node
TZ=UTC
PORT=3333
HOST=127.0.0.1
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://romainlanz.localhost:3333
REDIRECT_DOMAIN=redirect.localhost

# Session
SESSION_DRIVER=cookie

# Database
DATABASE_URL=postgres://root:root@127.0.0.1:5432/romainlanz # Needed for Kysely Codegen
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=romainlanz

# Twitch
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# Mail
MAIL_DRIVER=smtp
SMTP_HOST=127.0.0.1
SMTP_PORT=1025
BREVO_API_KEY=
