@import '../core/functions';

.footer {
  background-color: var(--yellow-200);
  border-top: 2px solid var(--gray-800);
  margin-top: spacePx(38);
  min-height: 260px;
  padding-block: spacePx(5);

  &__title {
    align-items: center;
    display: flex;
    gap: spacePx(6);

    span {
      color: var(--gray-800);
      font-size: var(--text-xl);
      font-weight: bold;
    }
  }
}
